.bg-dark-2 {
	background-color: #0f1923 !important;
}

.carousel-custom::after {
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0px;
}

.carousel-caption {
	z-index: 1;
}

.bg-success-daun {
	background-color: #399f4f;
}
